langchain
langchain-groq
faiss-cpu
tiktoken
langchain-openai
langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
ipykernel
pandas
langchain-text-splitters
jupyter 
ipywidgets
pymupdf
python-docx
docx2txt
unstructured[docx]